* {
  font-family: "neuzeit-grotesk", sans-serif;
  color: near-black;
}

.container {
  margin: 0 auto;
}

.intro > h1 {
  color: #19AAD1;
  margin: 0;
  font-weight: 900;
}

.intro > span {
  color: #19AAD1;
  display: block;
  font-weight: 400;
}

.intro > img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1em;
}

h1 > span {
  color: white;
  text-decoration: underline;
}

ul.item-list {
  margin: 1em 0 1e 0;
  padding: 0;
  list-style: none;
} ul.item-list > li:not(:last-child) {
  margin-bottom: 0.5em;
}

img.app-icon {
  border-radius: 20%;
}

.content {
  background-color: #FFF9E8;
}

a {
  color: #357EDD;
}

@media (max-width: 30em) {
  .intro > img {
    height: 100px;
    width: 100px;
  }
}