* {
  box-sizing: border-box;
}

a {
  color: #3f80ff;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  margin: 0 0 2rem;
  font-weight: 600;
  line-height: 1.3;
  color: #111;
}

body {
  color: #404040;
}

p {
  margin: 0;
  padding: 0;
}

dl, ol, p, table, ul {
  margin: 0 0 2rem;
}


@media (min-width: 700px) {
  h1 {
    font-size: 2rem;
  }
}
